<head>
    <meta name="description" content="テキストテキスト">
    <link rel="stylesheet" href="home.scss">
</head>

<body>
    <header>
        <h1 class="wrapper">Tavel Blog</h1>
        <nav>
            <ul class="wrapper">
                <li><%= link_to("NEW", "/#") %></li>
                <li><%= link_to("COLUMN","/#") %></li>
                <li><%= link_to("SERIES","/#") %></li>
                <li><%= link_to("Q&A","/#") %></li>
                <li><%= link_to("CONTACT","/#") %></li>
            </ul>
        </nav> 
    </header>

    <div id="main" class="wrapper">
        <div class="copy-container">
            <%= image_tag 'pickup1.jpeg', class: 'sized' %>
            <h2>タイトルテキストテキストテキストテキストテキストテキストテキスト</h2>
            <%= link_to("READ MORE","/#",class:'link') %>>
        </div>

        <div class="copy-container">
            <%= image_tag 'pickup2.jpeg', class: 'sized' %>
            <h2>タイトルテキストテキストテキストテキストテキストテキストテキスト</h2>
            <%= link_to("READ MORE","/#",class:'link') %>>
        </div>

        <div class="copy-container">
            <%= image_tag 'pickup3.jpeg', class: 'sized' %>
            <h2>タイトルテキストテキストテキストテキストテキストテキストテキスト</h2>
            <%= link_to("READ MORE","/#",class:'link') %>>
        </div> 
    </div>

    <div id="left" class="container-block">
        <div class="main-containertop">
            <h2>タイトルテキストテキストテキストテキストテキスト</h2>
            <%= link_to image_tag('main1.jpeg',class:'main-sized'), "/#" %>
            <p>本文テキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <%= link_to("READ MORE","/#",class:'link') %>
        </div>

        <div class="main-containertop">
            <h2>タイトルテキストテキストテキストテキストテキスト</h2>
            <%= link_to image_tag('main2.jpeg',class:'main-sized'), "/#" %>
            <p>本文テキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <%= link_to("READ MORE","/#",class:'link') %>
        </div>

        <div class="main-containertop">
            <h2>タイトルテキストテキストテキストテキストテキスト</h2>
            <%= link_to image_tag('main3.jpeg',class:'main-sized'), "/#" %>
            <p>本文テキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <%= link_to("READ MORE","/#",class:'link') %>
        </div> 
    </div>

    <div id="right" class="container-block">
        <div class="author">
            <%= link_to image_tag('author.jpeg',class:'author-sized'), "/#" %>
            <h3>Name Name</h3>
            <p>プロフィールテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
        <div class="ranking">
            <h3>Ranking</h3>
            <%= link_to image_tag('ranking1.jpeg',class:'ranking-img'), "/#" %>>
            <p>タイトルテキストテキストテキストテキストテキストテキスト</p>
        </div>
    
        <div class="ranking">
            <%= link_to image_tag('pickup2.jpeg',class:'ranking-img'), "/#" %>
            <p>タイトルテキストテキストテキストテキストテキストテキスト</p>
        </div>

        <div class="ranking">
            <%= link_to image_tag('pickup3.jpeg',class:'ranking-img'), "/#" %>
            <p>タイトルテキストテキストテキストテキストテキストテキスト</p>
        </div>

        <div class="Archive">
            <ul>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
                <li><%= link_to("XXXX年XX月(XX)","/#",class: "Archive-list") %></li>
            </ul>
        </div> 
    </div>
</body>


<footer>
    <div class="footer-parts">
        <h2>ABOUT</h2>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <div class="footer-about">
            <ul　class="footer-list">
                <li>
                    <%= link_to("プロフィール詳細", "/#") %>
                </li>
                <li>
                    <%= link_to("お仕事の依頼", "/#") %>
                </li>
                <li>
                    <%= link_to("お問い合わせ", "/#") %>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-parts">
        <h2>MENU</h2>
        <ul　class="footer-list">
            <li>
                <%= link_to("NEW","/#") %>
            </li>
            <li>
                <%= link_to("CATEGORY","/#") %>
            </li>
            <li>
                <%= link_to("COLUMN","/#") %>
            </li>
            <li>
                <%= link_to("SERIES","/#") %>
            </li>
            <li>
                <%= link_to("Q&A","/#") %>
            </li>
        </ul>
    </div>
    <div class="footer-parts">
        <h2>Twitter</h2>
        <a href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @TwitterDev</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> 
</footer>
